<form>
	Username<br>
	<input type="text" ><br>
	Password<br>
	<input type="password" ><br>
	Email<br>
	<input type="email"><br>
	Data<br>
	<input type="date"><br>
	Number<br>
	<input type="number"><br>
	<input type="submit">
</form>